* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
}
.list {
    background-color: white;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, .3);
    border-radius: 7px;
}
.item {
    display: flex;
    width: 350px;
}
.item:not(:last-child) {
    border-bottom: 1px solid blue;
}
.item p {
    padding: 18px 20px;
    border-left: 1px solid blue;
}
.item input {
    display: block;
    margin: 18px 18px;
}